<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/edit.css">
    <link rel="stylesheet" href="/css/nav.css">
    <title>Document</title>
</head>
<body>
    <div class="main-block">
        {{>nav}}
        <h1>Deals Status</h1>
        <form action="/dealsstatus" method="POST">
            <label for="">Status</label>
            <input type="text" name="status" id="">
            <button type="submit" id="add-btn">Add</button>
        </form>
        <table border="1">
            <tr>
                <td>ID</td>
                <td>Status</td>
                <td>Actions</td>
            </tr>
            {{#each dealsStatus}}
                <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.status}}</td>
                    <td>
                        <button id="delete-btn" data-id="{{this.id}}" data-url="/dealsstatus">Delete</button>
                        <button id="edit-btn" class="edit-btn" data-entity="dealsStatus" data-id="{{this.id}}" data-path="/dealsstatus">Edit</button>
                    </td>
                </tr> 
            {{/each}}
        </table>
    </div>

    <div style="text-align: center" id="popupWin" class="modalwin">
        <h2>Edit</h2>
        <form>
            <label for="">Status</label>
            <input type="text" data-field="status" class="editInputs">
            <button id="save-btn" type="submit" data-id="">Save</button>
        </form>
    </div> 
    <script src="/js/delete-btn.js"></script>
    <script src="/js/edit-btn.js"></script>
</body>
</html>