<ul class="top-nav">
    <li><a href="/branches">Branch</a></li>
    <li><a href="/agents">Agent</a></li>
    <li><a href="/cars">Car</a></li>
    <li><a href="/clients">Client</a></li>
    <li><a href="/deals">Deal</a></li>
    <li><a href="/dealsinfo">DealInfo</a></li>
    <li><a href="/dealsstatus">DealStatus</a></li>
</ul>